In [2]:
import pandas as pd
import numpy as np

In [3]:
mortality=pd.read_table("data/Compressed Mortality, 1999-2016.txt")
data=pd.read_csv("data/datafest2018.csv")

In [39]:
mortality=mortality.drop("Notes", axis=1)

In [40]:
mortality.head()

        State  State Code    Deaths  Population  Crude Rate  Age Adjusted Rate
0     Alabama         1.0  104375.0   9717175.0      1074.1              922.3
1      Alaska         2.0    8810.0   1479603.0       595.4              746.0
2     Arizona         4.0  110944.0  13748636.0       806.9              673.5
3    Arkansas         5.0   63373.0   5966101.0      1062.2              897.4
4  California         6.0  521446.0  78243957.0       666.4              620.0